.keyboard_row div{
	
}
.keyboard_row{
}
.keyboardBtn{
	background: url("images/ui-bg_glass_20_555555_1x400.png") repeat-x scroll 50% 50% #555555;
	border: 1px solid #666666;
	color: #EEEEEE;
	font-weight: bold;
	font-size: 1em;
	-moz-user-focus: ignore;
	cursor: pointer;
	height: 2em;
	line-height: 2em;
	margin: 0.1em;
	min-width: 1em;
	overflow: hidden;
	width: 2em;
	border-radius: 6px;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.keyboardBtn:hover, .activated{
	background:url("images/ui-bg_glass_40_0078a3_1x400.png") repeat-x scroll 50% 50% #0078A3;
	border:1px solid #59B4D4;
}
.btnbksp, .btntab{
	width:9%;
}
.btnenter{
	background: url("images/ui-bg_inset-soft_30_f58400_1x100.png") repeat-x scroll 50% 50% #F58400;
	border: 1px solid #FFAF0F;
	color: #FFFFFF;
	font-weight: bold;
	min-width: 4em;
	width: auto;
}
.btnshift{
	min-width: 4em;
	width: auto;
}
#keyboardContainer{
	display: block;
	position: absolute;
	padding: 0.3em;
	border-radius: 6px;
	background: url("images/ui-bg_inset-soft_25_000000_1x100.png") repeat-x scroll 50% bottom #000000;
	border: 1px solid #666666;

}
.default_container, .shift_container{
	font-size: 1.1em;
	text-align: center;
	white-space: nowrap;
}
#keyboardPreview{
	background: url("images/ui-bg_inset-soft_25_000000_1x100.png") repeat-x scroll 50% bottom #000000;
	border: 1px solid #666666;
	color: #FFFFFF;
	border-radius: 6px;
	margin: 0 0 3px;
	text-align: left;
	width: 99%;
	padding: 5px 0;
	height: 20px;

}
.btnspace{
	width:50%;
}
.btnaccept, .btncancel{
	background: url("images/ui-bg_inset-soft_30_f58400_1x100.png") repeat-x scroll 50% 50% #F58400;
	border: 1px solid #FFAF0F;
	color: #FFFFFF;
	font-weight: bold;
	min-width: 4em;
	width: auto;
}
.key_holder{
	border:thin solid #000;
	width: 100%;
	padding:15px 0;
}
